/* Definition of the header style*/
body {
    font-family: "Open Sans", sans-serif;
}

h1 {
    font-family: "Inter", sans-serif;
    text-align: center;
    font-size: 49px;
    line-height: 56px;
    font-weight: bold;
}

h1 span {
    font-weight: bold;
}

/*Definition of the body, paragraphs and links*/
span, a{
    
    text-align: center;
}

span {
    color: #FF9900;
}

a {
    color: #FF9900;
}
