/* Definition of the header style*/
body {
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

/*Definitionf of the title*/
#hero {
    width: 592px;
    margin: 0 auto 72px;
    /*The first value is for the top, the second for the sides and the third value is the bottom*/
}

#hero img {
    margin-bottom: 72px;
}

h1 {
    font-family: "Inter", sans-serif;
    text-align: center;
    font-size: 49px;
    line-height: 56px;
    font-weight: bold;
    margin-bottom: 32px;
}

h1 span {
    font-weight: bold;
}

/*Definition of the body, paragraphs and links*/
span, a {
    color: #FF9900;
}

p, #footer {
    color: #7D7987;

    font-size: 14px;
    line-height: 28px;
}

#footer a + a {
    margin-left: 28px;
}

.line {
    width: 568px;
    height: 0px;
    margin: 0 auto 8px;

    border: 1px solid #ECEFF2;
}

#balls {
    position: fixed;
    bottom: 0px;
    right: 0px;
}